body {
  margin: 0;
  padding: 0;
}
/* header styles */
.page-header {
  position: sticky;
  height: 100px;
  background-color: #074873;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 9999999;
}

.page-header .logo {
  position: relative;
  display: flex;
  height: 100%;
  margin-left: 50px;
}

.page-header .logo .imageContainer {
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  transform: translateY(-50%);
}

.page-header .logo .imageContainer img {
  position: relative;
  width: 64px;
  height: 64px;
}

.page-header .logo h1 {
  position: relative;
  margin-left: 10px;
  min-width: 200px;
  width: 400px;
  font-size: 20px;
  margin: 0;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}

/* form styles */
.form-container {
  width: 100%;
  height: fit-content;
}
/* group styles */
.group {
  position: relative;
  width: 100%;
  display: block;
  color: #000;
}
/* panel styles */
.panel {
  position: relative;
  width: 95%;
  height: auto;
}
.pad20 {
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.marginAuto {
  margin: auto;
}

.marginAutoExceptTop {
  margin: 0px auto;
}

/* modal styles */
.modal {
  position: fixed;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 80px;
}

.modal .form-container {
  position: relative;
  min-width: 300px;
  width: 30%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  transition: all 500ms ease-in;
}
.modal .form-container form {
  position: relative;
  color: black;
  padding: 5px;
  transition: all 500ms ease-in;
}

.modal .form-container form h2,
.modal .form-container form h3,
.modal .form-container form p {
  text-align: center;
}
.modal .form-container form img {
  position: relative;
  width: 30%;
  height: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.modal .form-container form input {
  position: relative;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  padding: 5px;
  font-size: 1.2rem;
}

.modal .form-container form .flex {
  position: relative;
  display: flex;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal .form-container form .flex > div {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 11px;
  font-weight: 700;
  color: rgb(44, 42, 42);
  border: 1px solid gray;
  margin: 1px;
}

.modal .form-container form .flex > div:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #074873;
}

/* util styles */
.text-right {
  text-align: right;
  padding: 10px;
}

.margin-5 {
  margin: 5px;
}

.center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.center-abs-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-abs-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-abs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover {
  cursor: pointer;
}

.bottom-left {
  position: fixed;
  left: 2%;
  bottom: 5%;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none;
  opacity: 0;
}

.button-general {
  position: relative;
  font-size: 1.2rem;
  padding: 5px 10px 5px 10px;
}

.button-blue {
  background-color: #0d68a5;
  border: none;
  padding: 10px 20px 10px 20px;
}

.aqua {
  background-color: rgb(7, 243, 243);
}

.orange {
  background-color: rgb(255, 166, 0);
}

.orange-text {
  color: rgb(255, 166, 0);
}

.green {
  background-color: rgb(0, 255, 98);
}

.red {
  background-color: rgb(240, 80, 80);
}

.grey {
  background-color: rgb(169, 184, 184);
}

.link {
  cursor: pointer;
  color: #074873;
  font-weight: 500;
  font-size: 11px;
}

.course-year {
  font-size: 11px;
  font-weight: 800;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

.dashboard-loader {
  position: relative;
  width: 100%;
  height: 500px;
  text-align: center;
  align-items: center;
  padding: 30px;
}

.dashboard-loader .three-body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
