:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container label{
  display: block;
  color: #000;
  width: 100%;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 280px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #000;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #074873;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  transition: all 100ms ease-in;
}

.submit:hover {
  background-color: #0a69a8;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}


.info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #509AF8;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  z-index: 99999;
  transition: all 100ms ease-in;
}
.redBG{
  background: rgb(221, 90, 90);
}
.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__icon path {
  fill: #fff;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: #fff;
}

.profileCard{
  position: relative;
  min-width: 300px;
  width: 300px;
  padding: 20px;
}

.profileCard .card{
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.profileCard .card .profileImage{
  position: relative;
  width: fit-content;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.profileCard .card h3{
  width: 100%;
  color: #6B7280;
  text-align: center;
  padding-top: 20px;
}

.profileCard .card .profileImage > img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.profileCard .card .textContainer{
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.profileCard .card .textContainer > p{
  font-weight: 600;
  margin: 0;
}

.profileCard .card .textContainer .role{
  color: #0a69a8;
}

.timelogCard{
  position: relative;
  min-width: 300px;
  width: 70%;
}

.timelogCard .card{
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.timelogCard .card h2{
  color: #6B7280;
  padding: 20px 0px 0px 20px;
  font-size: 35px;
  transition: all 100ms ease-in;
}

.card .date{
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  margin: 0;
}

.card .time{
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  padding-bottom: 20px;
}

.card hr{
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.timelogCard .card .logs{
  position: relative;
  display: block;
}

.timelogCard .card .logs .not-found{
  position: relative;
  width: 100%;
  text-align: center;
}

.timelogCard .card .logs .not-found img{
  position: relative;
  width: 30%;
}

.timelogCard .card .logs .not-found p{
  position: relative;
  font-weight: 700;
  color: #6B7280;
}

.timelogCard .card .logs .profile-log{
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  height: 100px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-top: 10px;
}

.timelogCard .card .logs .profile-log::before{
  position: absolute;
  content: '';
  background-color: #30678b;
  width: 100%;
  height: 5px;
  top: 0;
  overflow: hidden;
}

.timelogCard .card .logs .profile-log .image{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.timelogCard .card .logs .profile-log .image img{
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  transition: all 200ms ease-in;
}

.timelogCard .card .logs .profile-log .log-info{
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}

.timelogCard .card .logs .profile-log .log-info p{
  margin: 0;
  transition: all 200ms ease-in;
}

.log-info .name{
  padding-top: 5px;
  font-size: 19px;
  color: #074873;
  font-weight: 800;
  padding-left: 10px;
}

.log-info .log-time{
  font-size: 12px;
  color: #13171a;
  font-weight: 800;
  padding-left: 10px;
}

.log-info .purpose{
  font-size: 12px;
  color: #0c810c;
  font-weight: 800;
  padding-left: 10px;
}

.adminCard{
  position: relative;
  min-width: 300px;
  width: 80%;
  padding: 20px;
}

.adminCard .card{
  position: relative;
  height: fit-content;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.adminCard .card h1{
  position: relative;
  padding: 20px;
  color: #6B7280;
}

.adminCard .card .flex .date-picker,
.adminCard .card .flex label{
  position: relative;
  padding: 5px;
  font-size: 20px;
}

.adminCard .card .flex label{
  font-weight: 600;
}

.adminCard .card .flex{
  padding-left: 20px;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .log-info .name{
    padding-top: 10px;
    font-size: 15px;
  }
  
  .log-info .log-time{
    font-size: 10px;
  }
  
  .log-info .purpose{
    font-size: 10px;
  }
}

@media (max-width: 550px) {
  .timelogCard .card .logs .profile-log .image img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
  }

  .timelogCard .card .logs .profile-log .log-info{
    margin-left: 10px;
  }

  .timelogCard .card .logs .profile-log{
    height: 80px;
  }

  .page-header .logo h1{
    font-size: 15px;
  }
  .timelogCard .card h2{
    color: #6B7280;
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
  }
  .card .date{
    font-size: 18px;
  }
  
  .card .time{
    font-size: 14px;
  }
}
